.container {
  max-height: 486px;
  overflow: auto;
}

button {
	margin: 2px;
}

.grid-container {
	margin: 2px;
	width: 100%;
	height: 100%;
}

.item-container {
	width: 100%;
}

.fill {
	flex: 1 1 auto;
}