<div class="container">
	<mat-toolbar color="primary">
		<button mat-icon-button class="menu-button" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
		<h1>SFCS</h1>
		<span class="fill"></span>
	</mat-toolbar>

	<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true" (backdropClick)="snav.close()">
		<mat-sidenav class="sidenav" #snav [mode]="'side'">
			<mat-nav-list dense>
				<mat-list-item routerLink="/home">
				<mat-icon mat-list-icon>home</mat-icon>
					Trang chủ
				</mat-list-item>
				
				<mat-divider></mat-divider>
				
				<div mat-subheader>KHÁCH HÀNG</div>
				<mat-list-item routerLink="/customer/menu">
					<mat-icon mat-list-icon>fastfood</mat-icon>
					Thực đơn
				</mat-list-item>
				<mat-list-item routerLink=".">
				<mat-icon mat-list-icon>assignment</mat-icon>
					Đặt hàng
				</mat-list-item>
				
				<mat-divider></mat-divider>
				
				<div mat-subheader>QUẢN LÝ</div>
				<mat-list-item routerLink=".">
					<mat-icon mat-list-icon>assignment</mat-icon>
					Đơn hàng
				</mat-list-item>
				<mat-list-item routerLink="/management/menu">
					<mat-icon mat-list-icon>fastfood</mat-icon>
					Thực đơn
				</mat-list-item>
				
				<mat-list-item routerLink=".">
					<mat-icon mat-list-icon>people_alt</mat-icon>
					Nhân viên
				</mat-list-item>
				<mat-list-item routerLink=".">
					<mat-icon mat-list-icon>food_bank</mat-icon>
					Nguyên liệu
				</mat-list-item>
				
				<mat-divider></mat-divider>
				
				<div mat-subheader>TÀI KHOẢN</div>
				<mat-list-item routerLink="/auth/login">
					<mat-icon mat-list-icon>login</mat-icon>
					Đăng nhập
				</mat-list-item>
				<mat-list-item routerLink="/auth/register">
					<mat-icon mat-list-icon>person_add</mat-icon>
					Đăng ký
				</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>
		<div class="container-body">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-container>
</div>