.bg {
	background-image: url('../assets/images/background.jpg');
	height: 100%;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.banner {
	background-image: url('../assets/images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	font-size: 10vw;
}

.content {
	max-width: 1300px;
	margin: auto;
	height: 3000px;
	background-color: orange;
	border: 2px solid white;
}
/*.container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.sidenav-container {
	flex: 1;
}

.sidenav {
	padding: 10px;
	width: 180px;
	//background-color: #cdcfd4;
}

.fill {
	flex: 1 1 auto;
}

.menu-button{
	margin-right: 10px;
}

.container-body {
	padding: 10px;
}*/